body {
	background-color: lightblue;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: lightblue;
	position: sticky;
	top: 0px;
	height: auto;
	width: auto;
	z-index: 1;
}

header img {
	width: 365px;
	margin: 10px;
}

header .coupon {
	border: 4px dotted;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

header .coupon p {
	font-size: 18px;
}

header ul {
	display: flex;
	align-items: center;
}

header li {
	display: flex;
	margin: 8px;
	font-size: 24px;
}

header li a:link {
	color: lavenderblush;
}

header li a:visited {
	color: lavenderblush;
}

.container {
	display: flex;
	width: 100%;
}

.ourStory {
	display: flex;
	background-image: url("../images/ourStoryBackground.jpg");
	background-position: center;
	width: auto;
	height: 800px;
	align-items: center;
	justify-content: center;
}

.ourStory .text {
	display: block;
	background-color: lavenderblush;
	color: lightpink;
	text-align: center;
	width: 100%;
}

.ourStory .text h1 {
	font-size: 40px;
}

.ourStory .text p {
	font-size: 20px;
	color: black;
	margin: 20px;
}

.topSellers {
	padding-top: 40px;
}

.topSellers h1 {
	font-size: 40px;
	padding-top: 40px;
	text-align: center;
	color: lavenderblush;
}

.row {
	display: flex;
	flex-flow: row wrap;
	width: auto;
	justify-content: space-between;
	margin: 10px;
}

.row a:link {
	color: black;
	text-decoration-line: none;
}

.item {
	margin: 5px;
	padding: 15px;
	border: 2mm ridge lightpink;
	text-align: center;
	width: 285px;
}

.item img {
	width: 275px;
}

.item p {
	text-align: center;
	font-size: 22px;
	color: black;
}

.contact {
	display: flex;
	background-image: url("../images/contactBackground.jpg");
	background-position: center;
	width: auto;
	height: 800px;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}


.contact a:link {
	 color: black;
	 text-decoration-line: none;
}

.contact a:visited {
	opacity: 0.75;
	color: black;
}

.box {
	width: 300px;
	height: 100px;
	border: 1px dotted black;
	border-radius: 10px;
	background-color: lightblue;
	text-align: center;
	margin: 10px;
	opacity: 0.75;
	line-height: 14px;
}

@media screen and (max-width: 1070px) {
	header .coupon {
		display: none;
	}
	
	.row {
		flex-direction: column;
		align-items: center;
	}
	
	.contact {
		flex-direction: column;
		
	}
}

@media screen and (max-width: 850px) {
	header {
		display: block;
		text-align: center;
	}
	
	header ul {
		justify-content: center;
		margin: 0px;
	}
	
	header li {
		margin-top: 0px;
	}
	header img {
		width: 185px;
	}
}